#weather-table {
  border: 5px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  color: black;

  & > * {
    padding: 30px;
  }

  #location-name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 4rem;
    font-weight: bold;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  #current-weather {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
    border-right: 2px solid black;

    #current-temp {
      font-size: 6rem;
      font-weight: bold;
    }
  }

  #weather-by-hour {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

    li {
      display: grid;
      text-align: center;
      width: 8%;
      font-size: 14px;
    }

    .weather-icon {
      width: 100%;
      padding: 10px 0px;
    }
  }

  #sun-info {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    border-bottom: 2px solid black;
  }

  #moon-info {
    grid-column: 2/3;
    grid-row: 4 /6;
    border-right: 2px solid black;
  }
}
