@use '_reset.scss';
@use '_test.scss';
@use '_weather-table.scss';
@use '_user-input-form.scss';

#container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 1.5rem;
}

.hidden {
  display: none;
}
